<h3 class="text-center">Posts</h3>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @posts.each do |post| %>
      <p>ID: <%= post.id%>. <%= link_to post.title, post_path %> </p>

    <% end %>
  </div>
</div>