<h3 class="text-center">Products for Sale</h3>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @categories.each do |cate| %>
      <h3><%= cate.name%> (<%=cate.products.count%>)</h3>
      <ul>
        <% cate.products.order(:id).each do |product|%>
          <%= render "product_row", product: product, order_item: @order_item %>
        <% end %>
      </ul>
    <% end %>

  <% if false %>
    <% @products.order(:id).limit(10).each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  <%end%>
  </div>
</div>