<h1 class="text-center">Book: <%= @product.name %></h1>
<%= image_tag url_for(@product.img), size: "300x200" if @product.img.attached?  %>
<h2>Author: <%=@product.author %></h2>
<h2>Description: </h2>
<p><%= @product.description %></p>
<!-- <div id="productRating" data-rating="<%= @product.rating %>"></div> ( Rated <%=@product.times_rated %> times) -->
<div class="productRating" data-rate-value="<%= @product.rating %>"></div> (Rated <%=@product.times_rated %> times)
<%= form_for @order_item, remote: true do |f| %>
  <h4 class="text-left">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span></h4>
  <a>Add to cart:</a>
  <div class="input-group" style="width: 300px">
    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
    <div class="input-group-btn">
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<% if user_signed_in? %>
  <%= form_for (@comment), remote: true do |ff| %>
    <div style="border: black; border-width: 2px" style="display: inline">
      <span>Your review and rating:</span><br/>
      <% cc = @comments.where(product_id: @product.id, user_id: current_user.id).first %>
      <% if cc%>
        <div class="myRating" style="display: inherit" data-rate-value="<%=cc.rating%>"></div>
      <% else %>
      <div class="myRating" style="display: inherit" data-rate-value=0></div>
      <% end %>
      <%= ff.text_area('text', size: "50x5", required: true, id: 'comment_text') %><br/>
      
      <%= ff.hidden_field :product_id, value: @product.id %>
      <%= ff.hidden_field :user_id, value: current_user.id %>
      <%#= ff.hidden_field 'myrating', value: 0 %>
      <input type="hidden" id="comment_rating" name="comment[rating]" value='s'/>
      <%#= ff.submit 'Submit review', class: "btn btn-primary"%>
      <input type="submit" id="btnSubmit" value="Submit review"  onclick='return submitClick();'/>
    </div>
  <%end%>
<% else %>
  <a>Login to leave a comment and rate!</a>
<% end %>
<!--  Comment section-->
<div style="border:1px solid black; width: 600px;">
  <% if !@comments.where(product_id: @product.id).empty? %>
    <h2>People's review on this product:</h2><hr/>
    <% @comments.where(product_id: @product.id).each do |comment| %>
      <div style="border: black; border-width: 3px; margin-left: 20px">
        <h3><span style="font-style: italic"><%=comment.user.email %></span> rated <%=comment.rating %> stars and said:</h3>
        <p><%=comment.text %></p>
        <hr/>
      </div>
    <% end %>
  <% end %>
</div>
<script>
  var options = {
    max_value: 5,
    step_size: 1,
    initial_value: 0,
    selected_symbol_type: 'utf8_star', // Must be a key from symbols
    cursor: 'default',
    readonly: true,
    change_once: false, // Determines if the rating can only be set once
  };
  $(".productRating").rate(options);

  <% if user_signed_in? %>
    <% if cc = @comments.where(product_id: @product.id, user_id: current_user.id).first %>  
      options.initial_value = <%= cc.rating %>
      options.readonly = true
      $('#comment_text').value = "<%= cc.text %>";
      document.getElementById('comment_text').disabled = true;
      document.getElementById('btnSubmit').style.visibility = 'hidden';
    <% else %>
      options.initial_value = 5;
      options.readonly = false;
    <% end %>
  <% end %>
  
  $(".myRating").rate(options);
  
  function submitClick(){
    if ($(".myRating").rate("getValue") == 0 || $('.comment_text').val() == "") {
      alert('pls rate and comment')
      return false
    } else {
      $('#comment_rating').val($('.myRating').rate('getValue'))
    }
  }
</script>