alert("hh")
  var options = {
      max_value: 5,
      step_size: 1,
      initial_value: 0,
      selected_symbol_type: 'utf8_star', // Must be a key from symbols
      cursor: 'default',
      readonly: true,
      change_once: false, // Determines if the rating can only be set once
  };

  $(".productRating").rate(options);
  $(".myRating").rate(options);

  <% if user_signed_in? %>
    <% if cc = @comments.where(product_id: @product.id, user_id: current_user.id).first %>
    <% debugger %>
    
      options.initial_value = 3
      options.readonly = true
      $(".myRating").rate("setValue") = 3
      console.log("<%= cc.text %>")
      alert('<%= cc.text %>')
      $('.comment_text').value = "<%= cc.text %>";
      document.getElementById('comment_text').disabled = true;
      document.getElementById('btnSubmit').style.visibility = 'hidden';
    <% else %>
      options.initial_value = 5;
      options.readonly = false;
    <% end %>
  <% end %>
  
  // console.log("abc")
  $(".myRating").rate(options);
  $(".btnSubmit").style.visibility = 'hidden';

  $('#btnSubmit').on("click", function(ev, data){
    if( $(".myRating").rate("getValue") == 1) {
      alert('pls rate')
    }
  });
  