<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag "application" %>
<%#   
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script> %>
  <title>Store</title>
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "My Store", root_path %></h1>
      </div>
      <div class="col-xs-5 text-right">
        <h1 class="cart-text" id="cart-text"><%= render 'layouts/cart_text' %></h1>
        <% if user_signed_in? %>
          <h2 class="user-status signed-in">Welcome, <%= current_user.email%> || <%= link_to('Logout', destroy_user_session_path, method: :delete) %></h2>
        <% else %>
          <h2 class="user-status"><%= link_to "Login", '/users/sign_in' %></h2>
        <% end %>
      </div>
      <div class="col-xs-1 text-right">

      </div>
    </div>
    <hr>
    <%= yield %>
  </div>

</body>
</html>